{% extends 'base.html' %}

{% block content %}


    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">PAY FOR ORDER</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in order %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="{{item.product.imageUrl}}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                    </div>
                                </th>
                                <td class="py-5">{{item.product.name}}</td>
                                <td class="py-5">${{item.price|floatformat:2}}</td>
                                <td class="py-5">{{item.quantity}}</td>
                                <td class="py-5">${{item.total_price|floatformat:2}}</td>
                            </tr>
                        {% endfor %}

                        <!-- subtotal -->
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                            <td class="py-3">
                                Subtotal
                            </td>
                            <td class="py-3">
                                    ${{subtotal|floatformat:2}}
                            </td>
                        </tr>

                        <!-- shipping -->
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                            <td class="py-3">
                                Shipping
                            </td>
                            <td class="py-3">
                                ${{shipping|floatformat:2}}
                            </td>
                        </tr>

                        <!-- total -->
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                            <td class="py-3">
                                <p class="mb-0 text-dark py-3">Total</p>
                            </td>
                            <td class="py-3">
                                <div class="py-3 border-bottom border-top">
                                    <p class="mb-0 text-dark">${{total|floatformat:2}}</p>
                                </div>
                            </td>
                        </tr>
                        <!-- total end -->
                    </tbody>

                </table>
            </div>
            <div class="d-flex justify-content-center">
                {{form.render}}
            </div>

        </div>
    </div>        

{% endblock content %}