{% extends 'base.html' %}

{% block content %}

    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Gender
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{% url 'shop' %}?gender=male">Men</a></li>
                            <li><a class="text-decoration-none" href="{% url 'shop' %}?gender=female">Women</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Sale
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{% url 'shop' %}?category=sport">Sport</a></li>
                            <li><a class="text-decoration-none" href="{% url 'shop' %}?category=luxury">Luxury</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Product
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            {% for category in categories %}
                            <li><a class="text-decoration-none" href="{% url 'shop' %}?category={{category}}">{{category}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop' %}">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop' %}?gender=male">Men's</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="{% url 'shop' %}?gender=female">Women's</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>

                {% include 'products/product-list.html' %}

                <div class="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        {% for page in page_range  %}
                            <li class="page-item">
                                <a class="page-link {% if page == current_page %}active{% endif %} rounded-0 mr-3 shadow-sm border-top-0 border-left-0" 
                                href="{% url 'shop' %}?page={{page}}" tabindex="-1">
                                {{page}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>



{% endblock content %}